{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title%}</title>
    <link rel="stylesheet" href="{%static 'css/tailwind.css'%}">
</head>
<body class="m-0 flex flex-col min-h-[100vh] {%block justify%} {%endblock%}">
    <!-- group the interface into sections -->
    <!-- header -->
    <header class=" flex flex-row items-center justify-between h-[4.5em] bg-header-300 mb-3">
        <div class="flex bg-black-500 xl:w-[24rem] w-[100px] md:w-[10em]
        h-[4.5em] sm:w-[6em] text-white justify-center m-auto p-[20px] " 
        id="logo-container">
            {%block logo%} {%endblock%}
        </div>
        <div class="bg-black-500 xl:w-[58rem] md:w-[40em] h-[4.5em]
        flex items-end w-[22em] sm:w-[30em] justify-between" 
        id="search-area">
            <!-- following strictly the design -->
            <!-- <div class="bg-black-500" id="sm-container">hi</div>
            <div class="bg-black-500" id="xl-container">hi</div> -->
            <div id="hold-category-selector">
                <select class="h-[40px] w-[40px] bg-orange-400" name="all_categories" id="categorie_list"></select>
            </div>
            <div>
                <form action="" id="form">
                    <input class="xl:w-[51rem] md:w-[28rem] w-[15em] sm:w-[21.6em] p-4 h-[40px] outline outline-cyan-500" placeholder="Search here" type="search" name="q" id="query">
                </form>
            </div>
            <div id="hold-search-btn">
                <button class="bg-red-800 h-[40px] w-[70px] text-white">sub</button>
            </div>
        </div>
        <div class="bg-black-500 xl:w-[39rem] w-[6rem] md:w-[29rem] h-[4.5em] sm:w-[10em] flex xl:space-x-[20px] items-stretch" 
        id="user-area" >
            <!-- three divs -->
            <div class="flex bg-inherit xl:basis-[2em] items-end place
            hover:outline hover:outline-white hover:outline-1">
                <select class="xl:h-[1.5em] xl:w-[2.8em] ml-[40px] hover:cursor-pointer" name="language" id="language-country">
                    <option value="EN">EN</option>
                </select>
            </div>
            <div class="bg-inherit max-w-[100px] min-w-[90px] xl:basis-[5em] p-0 hover:outline hover:outline-white hover:outline-1 hover:underline text-white hover:cursor-pointer leading-tight">
                <p class="">
                    <span class="tracking-tighter text-sm">Hello Sign in</span>
                    <span class="tracking-tighter leading-normal font-bold">
                        Account & List
                    </span>
                </p>
            </div>
            <div class="bg-green-500 pt-[9px] min-w-[90px] max-w-[100px] pl-[9px] xl:basis-1/4 hover:outline hover:outline-white hover:outline-1 hover:underline">
                <p class="font-bold lg:leading-tight">Returns & Orders</p></div>
            <div class="bg-inherit max-w-[100px] min-w-[50px] xl:basis-[20px] p-[10px]">
                <p class="font-bold text-white text-center uppercase">Cart</p>
            </div>
        </div>
    </header>
    <!-- main -->
    <main class="">        
        <!-- position this absolute -->
        <!-- <div class="bg-violet-500 m-0 xl:w-[20em] h-[15em] absolute right-[250px] flex flex-col justify-center items-center">
            <p class="inline-block text-center font-bold">
                <span class="">Welcome to Shopin</span> <br>
                Login with your Shopin account Details 
            </p><br>
            <div>
                <!-- contains the login and signup buttons as well as view account -->
                <!-- <form action="">
                    <button class="bg-indigo-400 font-bold w-[7em] h-[2.5em] rounded-md">Login</button>
                    <button class="bg-red-400 font-bold w-[7em] h-[2.5em] rounded-md">Signup</button>
                </form> -->
                <!-- this is a link to dashboard of account -->
                <!-- <p class="text-center mt-4 text-blue-700 font-bold"><a href="">View Account dashboard </a></p>
            </div> -->
        </div>
        {%block advertisement%} {%endblock%}
        {%block content%} 
        {%endblock content%}
    </main>
    <!-- footer -->
    <footer class="flex flex-row bg-black-500 mt-[20px] space-x-5 h-[300px] py-[60px] px-[120px] rounded-md justify-between text-slate-400">
        <!--redesign the footer for my app-->
        <div class="bg-red-400 max-w-[356px]">
            <h2 class="text-white font-bold mb-3">INFO</h2>
            <ul>
                <li>Formats</li>
                <li>Compression</li>
                <li>Pricing</li>
                <li>FAQ</li>
                <li>Status</li>
            </ul>
        </div>
        <div class="bg-red-400 max-w-[356px]">
            <h2 class="text-white font-bold mb-3">RESOURCES</h2>
            <ul>
                <li>Developer API</li>
                <li>Tools</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="bg-red-400 max-w-[356px]">
            <h2 class="text-white font-bold mb-3">DEVELOPER</h2>
            <ul>
                <li>About Us</li>
                <li>Sustainability</li>
                <li>Terms of Service</li>
                <li>Privacy</li>
            </ul>
        </div>
        <div class="bg-red-400 max-w-[380px] p-2 h-fit">
            <p class="text-white mt-10">Subscribe to our email newsletter</p>
            <div class="mt-2">
                <form action=""> <input type="email" name="" id="" placeholder="Your email" class="h-[50px] p-2 outline outline-1">
                <input type="submit" value="SUBSCRIBE" class="bg-whitish-100 h-[50px] w-[150px] rounded-md text-black-500 font-bold">
                </form>
            </div>
            <div>
                <p class="text-white mt-7">Follow Us</p>
                <div class="inline-block bg-blue-400 h-[50px] w-[50px]">1</div>
                <div class="inline-block bg-black-500 h-[50px] w-[50px]">2</div>
                <div class="inline-block bg-yellow-400 h-[50px] w-[50px]">3</div>
            </div>
        </div>
    </footer>
</body>
</html>