{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title%}</title>
    <link rel="stylesheet" href="{%static 'css/tailwind.css'%}">
</head>
<body class="m-0 flex flex-col min-h-[100vh]">
    <!-- group the interface into sections -->
    <!-- header -->
    <header class=" flex flex-row items-center justify-between h-[4.5em] bg-header-300 ">
        <div class="flex bg-black-400 xl:w-[24rem] w-[100px] md:w-[10em]
        h-[4.5em] sm:w-[6em] text-white justify-center m-auto p-[20px] " 
        id="logo-container">
            {%block logo%} {%endblock%}
        </div>
        <div class="bg-brown-400 xl:w-[58rem] md:w-[40em] h-[4.5em]
        flex items-end w-[22em] sm:w-[30em] justify-between" 
        id="search-area">
            <!-- following strictly the design -->
            <!-- <div class="bg-black-400" id="sm-container">hi</div>
            <div class="bg-black-400" id="xl-container">hi</div> -->
            <div id="hold-category-selector">
                <select class="h-[40px] w-[40px] bg-orange-400" name="all_categories" id="categorie_list"></select>
            </div>
            <div>
                <form action="" id="form">
                    <input class="xl:w-[51rem] md:w-[28rem] w-[15em] sm:w-[21.6em] p-4 h-[40px] outline outline-cyan-500" placeholder="Search here" type="search" name="q" id="query">
                </form>
            </div>
            <div id="hold-search-btn">
                <button class="bg-red-800 h-[40px] w-[70px] text-white">sub</button>
            </div>
        </div>
        <div class="bg-black-400 xl:w-[39rem] w-[6rem] md:w-[29rem] h-[4.5em] sm:w-[10em] flex xl:space-x-[20px] items-stretch" 
        id="user-area" >
            <!-- three divs -->
            <div class="flex bg-inherit xl:basis-[2em] items-end place
            hover:outline hover:outline-white hover:outline-1">
                <select class="xl:h-[1.5em] xl:w-[2.8em] ml-[40px] hover:cursor-pointer" name="language" id="language-country">
                    <option value="EN">EN</option>
                </select>
            </div>
            <div class="bg-inherit xl:basis-[5em] p-0 hover:outline hover:outline-white hover:outline-1 hover:underline text-white hover:cursor-pointer leading-tight">
                <p class="">
                    <span class="tracking-tighter text-sm">Hello Sign in</span>
                    <span class="tracking-tighter leading-normal font-bold">
                        Account & List
                    </span>
                </p>
            </div>
            <div class="bg-green-500 pt-[9px] pl-[9px] xl:basis-1/4 hover:outline hover:outline-white hover:outline-1 hover:underline">
                <p class="font-bold lg:leading-tight">Returns & Orders</p></div>
            <div class="bg-inherit xl:basis-[20px] text-center p-[10px]">
                <p class="font-bold text-white uppercase">Cart</p>
            </div>
        </div>
    </header>
    <!-- main -->
    <main class="">        
        <!-- position this absolute -->
        <!-- <div class="bg-violet-500 m-0 xl:w-[20em] h-[15em] absolute right-[250px] flex flex-col justify-center items-center">
            <p class="inline-block text-center font-bold">
                <span class="">Welcome to Shopin</span> <br>
                Login with your Shopin account Details 
            </p><br>
            <div>
                <!-- contains the login and signup buttons as well as view account -->
                <!-- <form action="">
                    <button class="bg-indigo-400 font-bold w-[7em] h-[2.5em] rounded-md">Login</button>
                    <button class="bg-red-400 font-bold w-[7em] h-[2.5em] rounded-md">Signup</button>
                </form> -->
                <!-- this is a link to dashboard of account -->
                <!-- <p class="text-center mt-4 text-blue-700 font-bold"><a href="">View Account dashboard </a></p>
            </div> -->
        </div>
        {%block advertisement%} {%endblock%}
        {%block content%} 
        {%endblock content%}
    </main>
    <!-- footer -->
    <footer class="flex flex-row bg-black-400 mt-auto h-[5em]">
       <div class="bg-red-500 basis-1/2">one</div> 
       <div class="flex flex-row justify-center bg-inherit basis-1/2 text-white">
            <!-- This is for the CoDed -->
            <span class="font-bold">@CoDed </span>2023
       </div> 
       <div class="bg-inherit basis-1/2 flex flex-row pl-[120px] space-x-2">
            <!-- these are for the social media -->
            <div class="rounded-full bg-red-400 xl:basis-[80px]">one</div>
            <div class="rounded-full bg-yellow-400 xl:basis-[80px]">two</div>
            <div class="rounded-full bg-green-400 xl:basis-[80px]">three</div>
       </div> 
    </footer>
</body>
</html>