{%extends "base/base.html"%}
{%block logo%} <span class=" font-bold text-2xl text-green-500">{{shop}} </span> {%endblock%}
{%block content%} 
<section class="flex flex-row lg:mx-3 space-x-2">
    <nav class="bg-slate-400 lg:basis-1/4 flex-auto ">Hello</nav>
    <main class="bg-slate-400 lg:basis-[74em] xl:basis-[70em] flex-auto p-5">
        <p class="mt-0 font-bold text-2xl bg-red-200">Results</p>
        <!-- product section -->
        <section class="mt-3">
            {%for product in products%}
                <div class="bg-slate-600 p-3 mb-3 h-[17em] flex flex-row space-x-2">
                    <div class="bg-pink-200 min-w-[260px] max-w-[300px]">{{product.image}}</div>
                    <div class="bg-white basis-[49em] p-2 flex-auto">
                        {%if product.issponsored%}
                            <p class="m-0 text-sm text-blue-600">Sponsored!!</p>
                        {%endif%}
                        <p class="mb-3">{{product.shortdescription}}</p>
                        <p>{{product.rating}}--{{product.total_rating}}</p>
                        <p>{%if product.discount_rate%}
                                <span class="text-2xl text-green-600">Ghc {{product.discount_amount}}</span> 
                                <span>Ori price: <span class="line-through text-red-600 bg-orange-100 font-bold">ghc {{product.cost}}</span></span>
                            {%else%}
                            <span class="text-green-500 text-2xl">Ghc {{product.cost}}</span>
                            {%endif%}
                            <br>
                            {%if product.coupon%}
                                <span class="bg-green-300 p-[3px]">Save {{product.coupon.coupon_rate}}%</span> with <span class="text-red-300 font-semibold"> {{product.coupon.title}}</span>
                            {%endif%}
                        </p>
                        <p class="text-sm">{{product.Delivery}}</p>
                        <div class="bg-slate-400">
                            <div class="inline-block">ships to <span class="text-2xl">{{product.destination}}</span></div>
                            <div class="inline-block ml-[450px]"><button class="transition bg-orange-500 hover:opacity-80 h-[40px] w-[10em] ml-[20px] text-white rounded-xl font-bold">Add to cart</button></div>
                            
                        </div>
                        <p></p>
                    </div>
                </div>
            {%endfor%}
        </section>
    </main>
</section>

{%endblock%}