{%extends 'base/base.html'%}

{%block logo%} 
{%if not logo%}<span class=" font-bold text-2xl text-green-500 "> {{shop}} </span>{%endif%}
{%endblock%}
{%block justify%}'justify-center'{%endblock%}
{%block content%}
    <section class="bg-blue-400 flex flex-row space-x-[100px] mx-[20.4em] max-w-[1000px] min-w-[835px] mt-[20px] p-2">
        <div class="bg-slate-300  flex flex-col">
            <div class="bg-slate-600 w-[325px] h-[318px] rounded-lg">image</div>
            <div class="bg-blue-600 flex flex-row space-x-3 p-2 justify-center">
                {%for thumbnail in thumbnails%} 
                    <div class="bg-slate-600 h-[68px] w-[68px] rounded-md">thumbnail</div>
                {%endfor%}
            </div>
        </div>
        <div class="bg-pink-400 p-3 w-[661px]">
            <div class="flex flex-row justify-between">
                <div class="text-orange-300 font-bold"> {{details.shop.title}} SHOP </div>
                <div class="">Rating here</div>
            </div>
            <p class="bg-blue-400"><span class="font-bold text-2xl">{{details.name |title}}</span> <br> 
                <pre class="text-sm">Brand| <span class="">{{details.brand.brand}}</span></pre></p>
            <p class="bg-slate-600 text-white mt-[20px] {%if details.shortdescription|length > 100%} text-sm {%else%}text-md{%endif%}">{{details.shortdescription |title}}</p>
         
            <div class="bg-slate-300 mt-[20px]">
                <!-- This is the discounted amount -->
                <div class="inline-block text-2xl font-bold bg-blue-400">
                    GHC
                    {%if details.discount_rate%} {{details.discount_amount}} {%else%} {{details.cost}}{%endif%}
                </div>
                {%if details.discount_rate%}
                <div class="inline-block bg-orange-100 rounded-md p-1 text-orange-400 text-[18px] ml-[20px] w-[50px] h-[30px] text-center">{{details.discount_rate}}%</div>
                <p class="text-sm text-red-600 line-through font-semibold">Ghc {{details.cost}}</p>
                {%endif%}
            </div>
            
            <div class="mt-10 p-1 flex flex-row justify-center"> 
                <div class="bg-blue-400 h-[50px] rounded-xl inline-block font-bold p-2 text-lg space-x-6">
                    <div class="text-2xl text-orange-300 inline-block cursor-pointer">-</div>
                    <div class="inline-block">0</div>
                    <div class="text-2xl text-orange-300 inline-block cursor-pointer">+</div>
                </div>
                <button class="transition bg-orange-500 hover:opacity-80 h-[50px] w-[14em] ml-[20px] text-white rounded-xl font-bold">Add to cart</button>
            </div>
        </div>
    </section>
    <!-- details and specification section -->
    <section class="bg-blue-400 mt-[20px] grid grid-cols-2 gap-5 mx-[20px]">
        <div >
            <p class="text-center bg-blue-600 text-2xl"> <span class="underline font-semibold">Product Details </span></p>
            {%for content in details.description_set.all%}
                <div class="bg-pink-400">
                    <p class="p-3 font-bold text-lg">{{content.title |title}}</p>
                    <p class="p-3 font-semibold">{{content.body}}</p>
                </div>
            {%endfor%}
        </div>
        <div >      
            <p class="text-center bg-blue-600 text-2xl"><span class="underline font-semibold">Product Specification</span></p>
            <div class="flex flex-col p-14">
                {%for specification in details.specification_set.all%}
                    <div class="bg-slate-200 mb-5">
                        <p class="bg-black-500 font-bold text-white">{{specification.title}}</p>
                        <ul class="list-disc">
                            {%for feature in specification.features_set.all%}
                                <li>{{feature.content}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                {%endfor%}
            </div>
            <div>
                <!-- About the product -->
                <p class="text-center bg-blue-600 text-2xl underline font-bold">About This product</p>
                <div class="p-14 bg-black-500 max-w-[30em]">
                    {%for about in details.aboutproduct_set.all%}
                        <ul class="list-disc">
                            <li><span class="text-orange-300"> {{about.subject}} </span> - <span class="text-slate-400"> {{about.content}}</span></li>
                        </ul>
                    {%endfor%}
                    {%if details.note%} 
                        <p class="mt-3 text-white"><span class="font-bold">note: </span>{{details.note}}</p>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>
    {%if details.has_related_products%}
    <section class="bg-blue-400 mt-[20px] mx-[20px]">
        <!-- this is for the related products -->
        <p class="p-1 font-bold text-2xl">Related Products</p>
        <div class="flex flex-row space-x-2 mt-5 p-2">
            {%for product in details.related_products.all%}
                <div class="bg-black-500 h-fit w-[16em] grid grid-cols-1 rounded-xl transition hover:shadow-xl">
                    <div class="bg-slate-400 h-[9rem] rounded-t-lg">{{product.image}}</div>
                    <div class=" p-3">
                        <p class="text-orange-400 text-sm mt-0">{{product.shortdescription|truncatechars:98}}</p>
                        <p class="text-red-300 mt-1">Rating</p>
                        {%if product.discount_rate%}
                        <div class="text-green-600 inline-block font-bold">Ghc {{product.discount_amount}}</div>
                        <div class="text-green-600 inline-block bg-orange-100 rounded-md font-semibold p-[2px]">{{product.discount_rate}}% <span class="text-sm">discount applied</span><span class="text-red-600 line-through"> Ghc{{product.cost}}</span></div>
                        {%else%}
                            <p class="text-green-600">Ghc {{product.cost}}</p>                            
                        {%endif%}
                        {%if product.coupon%}
                        <div class="mt-[5px]">
                            <span class="bg-green-300 p-[3px]">Save {{product.coupon.coupon_rate}}%</span><span class="text-white"> with</span><span class="text-red-300 font-semibold"> {{product.coupon.title}}</span>
                        </div>
                        {%endif%}
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>
    {%endif%}

{%endblock%}
