{% extends 'base/base.html'%}
{%block advertisement%} 
<!-- <div class="bg-black-400 flex xl:w-[200px]">
j
</div> -->
{%endblock%}

{%block logo%}<span class=" font-bold text-2xl text-green-500"> SHOPIN </span>{%endblock%}
{%block content%}
<div class="bg-black-400 flex xl:m-10 flex-wrap justify-left space-y-4 pt-2 pl-2">
    {% for shop in top_rated %}
    <!-- change of business logic. This div is to show list of only 5 rated -->
        <div class="bg-{{shop.color}}-400 w-[50em] h-[421px] rounded-md">
            <div class="text-center">
                <!-- logo section -->
                <p>LOGO</p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="bg-black-400 xl:m-10 flex flex-row space-x-4 flex-wrap pt-[20px] pb-[20px] pl-[20px] justify-center">
    {%for all_shops in shop_list %}
    <div class="bg-{{all_shops.Colors}}-400 basis-[15em] h-[15em] rounded-xl flex flex-col ">
        <!-- two divs to repr thumnail and other features -->
        <div class="bg-slate-600 basis-1/2 font-bold">
            Thumnail here
        </div>
        <div class="bg-slate-600 basis-1/2">
            <p class="bg-yellow-200 p-[5px]">{{all_shops.title}}</p>
            <p class="bg-green-300 truncate pl-[5px] font-semibold">{{all_shops.moto|truncatechars:20}}</p>
            <p class="bg-orange-300 truncate text-center font-semibold">{{all_shops.rating}}</p>
            <div class="bg-black-400 p-[10px] flex flex-row justify-center">
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 hover:bg-green-500 h-[30px] w-[100px] font-bold rounded-md bg-white text-green-500 hover:text-black-400 hover:shadow-md hover:shadow-emerald-300">Shop</button>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock content%}