{%extends 'base/base.html'%}
{%block content%}
<!-- for the mean time i'll use a flex box -->
<section class="bg-black-400 mx-[13.5em] mt-0 grid grid-cols-4 p-[10px] gap-5">
    {% for category, value in Category.items%}
        <div class="bg-red-400 basis-[356px] h-[421px] xl:px-[5px]">
           <p class="text-center font-bold"> {{category}}</p>
           {%if value.subsections%}
            <div class="grid grid-cols-2 gap-4 bg-black-400 h-[310px]">
                {% for sub_cat in value.subsections|slice:":4"%}
                    <div class="bg-indigo-400 rounded-md flex flex-col">
                            <div class="bg-yellow-400 h-[105px] font-bold">
                                <!-- render the image here -->
                                {{sub_cat.img}}
                            </div>
                            <div class="bg-yellow-400 h-[40px] font-bold">
                                {{sub_cat.name}}
                            </div>
                    </div>
                {% endfor%}
            </div>
            {%else%}
            <div class="bg-black-400 text-white h-[310px]">
                <!-- render the images here -->
                {{value.img}}
            </div>
           {%endif%}
           <div class="text-blue-400 xl:mt-[20px]">
            see more ->
           </div>
           
        </div>
    {%endfor%}
</section>
{%endblock content%}